akas/n8n/workflows/document-processing.json
{
  "name": "AKAS Document Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-processed",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "doc-processed-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Process document upload notification\nconst data = $input.first().json;\n\n// Log the document processing event\nconsole.log(`Document processed: ${data.files_processed} files, ${data.total_chunks} chunks`);\n\n// You can add logic here to:\n// - Send notifications\n// - Update external systems\n// - Trigger other workflows\n// - Store in database\n\nreturn {\n  status: 'processed',\n  message: `Successfully processed ${data.files_processed} documents`,\n  timestamp: new Date().toISOString(),\n  data: data\n};"
      },
      "name": "Process Document Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Document Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
