akas/n8n/workflows/query-analytics.json
{
  "name": "AKAS Query Analytics Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query-processed",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Query Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "query-processed-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Process query analytics\nconst data = $input.first().json;\n\n// Log query performance\nconsole.log(`Query processed: ${data.processing_time}s, ${data.sources_found} sources`);\n\n// Analytics logic here:\n// - Track slow queries\n// - Monitor user patterns\n// - Generate insights\n// - Send alerts if needed\n\nif (data.processing_time > 5) {\n  console.warn('Slow query detected:', data.query_id);\n}\n\nreturn {\n  status: 'analyzed',\n  query_id: data.query_id,\n  performance: data.processing_time < 3 ? 'good' : 'slow',\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Analyze Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Query Webhook": {
      "main": [
        [
          {
            "node": "Analyze Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Query": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
